<div class="container">
    <div class="row TCR"><h2>Talent Sourcing & Recruitment</h2></div>
    <div class="row">
        <div class="col-md-6">
            <img class="pic6" src="assets/pic6.jpg" alt="">
        </div>
        <div class="col-md-5 TSRP">
            <p>We advertise job openings on behalf of the employer, reaching a wide audience and help in filtering out the best candidates from a large pool based on the job requirements, we coordinate interviews between the employer and shortlisted candidates and for senior or hard-to-fill positions, we use headhunting techniques to find top talent. For companies laying off employees, we can help with finding new job opportunities for affected. </p>
        </div>
    </div>
</div>
