<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row our_value">
                    <h1>Our Values -</h1>
                </div>
                <div class="row our_value_box">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                             <div class="col-2 icons"><i class="fas fa-handshake me-3"></i>
                        </div>
                        <div class="col-10"><h4> Quality:</h4>
                        <p>We believes in delivering quality services with high functionality. </p></div>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                             <div class="col-2 icons"><i class="fas fa-binoculars me-3"></i>
                        </div>
                        <div class="col-10"><h4> Transparency:</h4>
                        <p>We keep our whole workflow completely transparent. </p></div>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="row our_value_box">
                   <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                             <div class="col-2 icons"><i class="fas fa-keyboard me-3"></i>
                        </div>
                        <div class="col-10"><h4> Passion:</h4>
                        <p>We are passionate about our services showing enthusiasm.</p></div>
                            </div>
                        </div>
                       
                        
                    </div>
                     <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                             <div class="col-2 icons"><i class="fas fa-bullseye me-3"></i>
                        </div>
                        <div class="col-10"><h4> Fastest Process:</h4>
                        <p>To hire the best talent as quickly as possible.</p></div>
                            </div>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="container-fluid">
                <div class="row our_value">
                    <h1>Why choose us -</h1>
                </div>
                <div class="row">
                  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        We focus on outcomes
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="text-align: justify;">Focus on outcomes, not activities. We keep our eyes focused on why you have chosen us and how we contribute to get desire results. We always direct ourselves to effectiveness — the right outcomes — not mere activity. Therefore, our focus remains on outcome, not activities, and
how work gets done as a team.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        We help your team execute
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="text-align: justify;">Your team does everything it can to get desire results on right time. It’s tough to execute on something if you don’t understand the requirements. Our team feel that all four of dimensions are critical for any task as Be clear and methodical, set stretch goals and deadlines, follow up & Feedback and resolve conflict and build team unity.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
       We adapt to your needs
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="text-align: justify;">In order to understand customer, need better, it’s very important to recognize and understand clients’ requirements in deeply, we personally meet to our clients and understand to the focal point of client’s business to build a long-term relationship as per industry or other attributes.</div>
    </div>
  </div>
</div>
                </div>
    </div>
</div>