<div class="who_we_are_main">
  <div class="who_we_are">

    <h2 class="" style="color: rgb(96,157,178);">Who We Are</h2>
    <div class="container ">
        <div class="row">
            <div class="col-md-6" style="text-align: left; padding: 2%; text-align: justify;">
                <p>RM Rekruit Solution Pvt Ltd is a one-stop Company for all your job consultancy needs. We provide comprehensive services across a wide range of industries. With our experienced staff and comprehensive services, career consultancy, Staffing Solution we guarantee to help you find the perfect solution for your staffing needs.
RM Rekruit Solution Pvt Ltd gives enrollment administrations, recruitment services to our clients . We are a set up of IT/Non IT enrollment counseling organization with over a time of involvement in giving business answers for customers.</p>
            </div>
            <div class="col-md-6">
                <img class="who_we_are_img" src="assets/pic2.webp" alt="" srcset="">
            </div>
        </div>
    </div>

  </div>
</div>