<div class="container">
    <div class="row RPO"><h2>Recruitment Process Outsourcing</h2></div>
    <div class="row">
        <div class="col-md-6">
            <img class="pic9" src="assets/pic9.jpg" alt="">
        </div>
        <div class="col-md-6 RPOP">
            <p>Be it a short term project or a long term business requirement, our HR team will provide the cream quality and skilled candidates for your organizational needs. Under this system companies recruit the manpower by themselves /ourselves & put them into our payroll. We maintain them in our payroll and complying all statutory.  Also, though we are growing, we are able to maintain personal touch with all employees.

These factors result in a high rate of continuity and comparatively a low rate of exits. One of the major concerns of any sector is the high level of attrition, which is almost 70-80% in some companies. With temporary staffing, we are provided with a new employee as soon as one leaves the job. It is also effective for a company, which does not want to build expertise in the non-core operational areas.
</p>
        </div>
    </div>
</div>
