<!-- <img src="assets/pic1.png"  width="100%" height="400px" alt="..."> -->
<div class="card">
  <div class="card-body">
    <h2 class="card-text">A Rapidly Growing Recruiting <br> Firm</h2>
    <a href="#" class="btn btn-primary">GET IN TOUCH</a>
  </div>
</div>
<app-who-we-are></app-who-we-are>
<div class="container look_forward_cont">
    <div class="row look_forward_row">
        <div class="col-md-8">
        We look forward to doing great things with you anywhere in the world.</div>
        <div class="col-md-4"><a href="#" class="btn btn-primary">GET IN TOUCH</a></div>
    </div>
</div>
<app-whatwedo></app-whatwedo>
<app-our-values></app-our-values>
<FooterComponent></FooterComponent>


