<div class="container whatwedo_col col-md-12" >
    <h2>What We Do</h2>
    <div class="row whatwedo_row">
        <div (click)="telentSouring()" class="col-md-5">
            <h4 >Talent Sourcing & Recruitment</h4>
            <p>We advertise job openings on behalf of the employer, reaching a wide audience and help in filtering out the best candidates from a large pool based on the job requirements.</p>
        </div>
        <div (click)="executiveServie()" class="col-md-5">
            <h4>Executive Search Services</h4>
            <p>At RM Rekruit Solution Pvt Ltd, we understand that hiring the right leadership is crucial to organizational success. </p>
        </div>
    </div>
    <div class="row whatwedo_row">
        <div (click)="permanentStaffing()" class="col-md-5">
            <h4>Permanent Staffing</h4>
            <p>At RM Rekruit Solution Pvt Ltd, our tailored permanent staffing service connects businesses with the best-fit talent in no time.</p>
        </div>
        <div (click)="RPO()" class="col-md-5">
            <h4>Recruitment Process Outsourcing</h4>
            <p>Be it a short term project or a long term business requirement, our HR team will provide the cream quality and skilled candidates for your organizational needs. 
</p>
        </div>
    </div>
</div>
<!-- <app-our-values></app-our-values> -->